/* .btn {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
}
.btn:hover {
    color: #4caf50;
    background-color: white;
    border-style: solid;
    border-color: #4caf50;
}

.name {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
}
.input1 {
    width: 500px;
    margin-right: 10px;
} */

.year {
    width: 300px;
}
body {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-repeat: no-repeat;
    background-image: none;
    background-position: center;
    background-size: cover;
}
